name: portfolio CI

on:
  push:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
      VITE_API_BASE_URL: ${{secrets.VITE_API_BASE_URL}}
      PORT: ${{secrets.SERVICE_PORT}}

    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        env:
          DOCKER_USERNAME: ${{secrets.DOCKER_HUB_USERNAME}}
          DOCKER_PASSWORD: ${{secrets.DOCKER_HUB_PASSWORD}}
        run: echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin

      - name: Create .env file (frontend)
        run: |
          echo VITE_API_BASE_URL = $VITE_API_BASE_URL >> .env

       - name: Build frontend Docker image
        run: docker build -t ${{secrets.DOCKER_HUB_USERNAME}}/portfolio-frontend:latest .

      - name: Push frontend Docker image
        run: docker push ${{secrets.DOCKER_HUB_USERNAME}}/portfolio-frontend:latest

  deploy: 
    needs: build-and-push
    runs-on: ubuntu-latest

    steps: 
      - name: Deploy to Proxmox
        uses: appleboy/ssh-action@v1.0.0
        with: 
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          scripts: |
            docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_PASSWORD }}
            docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/portfolio-frontend:latest
            docker stop portfolio-frontend || true
            docker rm portfolio-frontend || true
            docker run -d \
              --name portfolio-frontend \
              -p 80:80 \
              -e VITE_API_BASE_URL=${{ secrets.VITE_API_BASE_URL }} \
              ${{ secrets.DOCKER_HUB_USERNAME }}/portfolio-frontend:latest

