name: portfolio CI

on:
  push:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: self-hosted
    env:
      VITE_API_BASE_URL: ${{secrets.VITE_API_BASE_URL}}
      PORT: ${{secrets.SERVICE_PORT}}

    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        env:
          DOCKER_USERNAME: ${{secrets.DOCKER_HUB_USERNAME}}
          DOCKER_PASSWORD: ${{secrets.DOCKER_HUB_PASSWORD}}
        run: echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin

      - name: Create .env file (frontend)
        run: |
          echo VITE_API_BASE_URL=$VITE_API_BASE_URL >> .env

      - name: Build frontend Docker image
        run: docker build -t ${{secrets.DOCKER_HUB_USERNAME}}/portfolio-frontend:latest .

      - name: Push frontend Docker image
        run: docker push ${{secrets.DOCKER_HUB_USERNAME}}/portfolio-frontend:latest
      
      - name: Deploy container
        run: |
          docker stop portfolio-frontend || true
          docker rm portfolio-frontend || true
          docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/portfolio-frontend:latest
          docker run -d --name portfolio-frontend -p 80:80 ${{ secrets.DOCKER_HUB_USERNAME }}/portfolio-frontend:latest
